<div class="topnav" id="myTopnav">
    <!-- <span class="feature-title">REPORTS</span> -->
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <!-- <a routerLink="/launch" routerLinkActive="active">Launch</a> -->
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a href="javascript:void(0);" class="icon" (click)="toggleNavBar()">
        <img src="./assets/images/bars.svg" height="17" width="17" alt="">
    </a>
</div>