div.page-container {
    background-color: #000000;
    max-width: 1024px;
    margin: 0 auto;
}

div.main-content-outer {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;
    min-height: 300px;
}

div.main-content-inner {
    margin: 0;
    padding: 10px;
}