/* You can add global styles to this file, and also import other style files */
@import "normalize";

html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Lato;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
